@import "mixins";
@import "fonts/stylesheet.css";

// Variables
$font-montserrat: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;

$bg-body: #000000;
$bg-border: #888888;

$color-light: #FFFFFF;
$color-dark: #000000;
$color-default: #888888;
$color-secondary: #13A8FE;
$color-patriotic-blue: #005BBC;
$color-patriotic-yellow: #ffd700;

$base-transition: all 0.3s ease-in-out;
$filter-transition: filter 0.3s ease-in-out;

// General styles
body {
  background: $bg-body;
}

.overflow-hidden {
  overflow: hidden;
}

.blurred {
  filter: blur(10px);
}

.loader-wrapper {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  background-color: $bg-body;

  &.hidden {
    opacity: 0;

    z-index: 0;

    transition: $base-transition;
  }

  @keyframes rotateLoader {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader {
    width: 150px;
    height: 150px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: block;
    overflow: hidden;

    div {
      height: 100%;
      padding: 8px;

      box-sizing: border-box;

      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: $color-patriotic-blue;
      border-bottom-color: $color-patriotic-yellow;

      animation: rotateLoader linear 3.5s infinite;
    }
  }
}

.patriotic-wrapper {
  position: fixed;
  top: -20px;
  right: -92px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(45deg);
  transition: $filter-transition;

  z-index: 1;

  text-decoration: none;

  &:hover {
    .patriotic-greeting.hidden {
      opacity: 1;
    }
  }

  &__ukrainian-flag {
    width: 270px;
    height: 100px;
    margin-bottom: 4px;

    @include media($until: md) {
      height: 80px;
    }

    div {
      &:first-child {
        width: 100%;
        height: 50%;

        background-color: $color-patriotic-blue;
      }

      &:last-child {
        width: 100%;
        height: 50%;

        background-color: $color-patriotic-yellow;
      }
    }
  }

  .patriotic-greeting {
    span {
      font-size: 20px;

      &:first-child {
        color: #005bbc;
      }

      &:last-child {
        color: #ffd700;
      }
    }

    &.hidden {
      opacity: 0;

      transition: $base-transition;
    }
  }
}

.mouse {
  width: 20px;
  height: 30px;

  position: relative;

  border: 2px solid $color-light;
  border-radius: 20px;

  transition: $base-transition;

  &:hover {
    border-color: $color-secondary;

    &:before {
      background-color: $color-secondary;
    }
  }

  &:before {
    content: '';

    width: 6px;
    height: 6px;

    position: absolute;
    top: 6px;
    left: 50%;

    background-color: $color-light;
    border-radius: 50%;
    opacity: 1;

    transform: translateX(-50%);
    transition: $base-transition;

    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 18px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 18px;
  }
}

.list-bullet {
  content: '';

  width: 8px;
  height: 8px;

  position: absolute;

  background-color: $color-secondary;
}

.app-layout {
  width: 100%;

  display: flex;
  flex-direction: row;

  &__sidebar {
    width: 300px;
    height: 100vh;
    min-height: 100vh;
    padding: 40px 60px;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-right: 1px solid $bg-border;

    font-family: $font-montserrat;
    color: $color-light;

    @include media($until: md) {
      left: -300px;

      z-index: 1;

      background-color: $color-dark;

      transition: $base-transition;

      &.active {
        left: 0;
      }
    }

    .btn-burger {
      height: 20px;
      width: 20px;

      position: fixed;
      top: 30px;
      left: 30px;

      display: none;

      background: none;

      @include media($until: md) {
        display: block;
      }

      &:hover {
        cursor: pointer;
      }

      &:before,
      &:after {
        content: "";

        width: 100%;
        height: 2px;

        left: 0;

        background: $color-light;
        backface-visibility: hidden;

        transition: 0.75s;
      }

      &:before {
        position: absolute;
        top: 0;

        box-shadow: $color-light 0 9px 0 0;
      }

      &:after {
        position: absolute;
        top: calc(100% - 2px);
      }

      &.active {
        &:before {
          top: 50%;

          box-shadow: transparent 0 0 0 0;

          transform: rotate(225deg);
        }

        &:after {
          top: 50%;

          transform: rotate(315deg);
        }
      }
    }
  }

  &__main-content {
    width: calc(100% - 240px);
    margin-left: 300px;

    transition: $filter-transition;

    @include media($until: md) {
      width: 100%;
      margin-left: 0;
    }

    section {
      padding: 80px 100px;

      box-sizing: border-box;

      @include media($until: md) {
        padding: 30px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $bg-border;
      }

      h2 {
        margin: 0 0 40px;
        text-transform: uppercase;
        font-family: $font-montserrat;
        font-weight: 900;
        font-size: 30px;
        color: $color-light;
      }

      p {
        line-height: 1.5;
        font-family: $font-lato;
        font-size: 16px;
        color: $color-default;
      }
    }
  }
}

.sidebar {
  &__avatar {
    width: 140px;
    height: 140px;

    border-radius: 100px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__nav {
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        padding: 8px 0;

        a {
          position: relative;

          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          font-size: 14px;
          color: $color-light;

          // TODO: May be for future
          //&.active,
          &:hover {
            &:after {
              height: 4px;
            }
          }

          &:after {
            content: '';

            width: 100%;
            height: 0;

            position: absolute;
            bottom: -6px;
            left: 0;

            background: $color-secondary;

            transition: $base-transition;
          }
        }
      }
    }
  }

  &__social {
    margin: 20px  0;

    a {
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 10px;
      }

      svg {
        transition: $base-transition;
      }

      &:hover {
        svg {
          fill: $color-secondary !important;
        }
      }
    }
  }

  &__copyright {
    font-family: $font-lato;
    font-size: 14px;
    color: $color-default;
  }
}

// Sections
.intro {
  height: calc(100vh + 1px);

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 500px;

    h2 {
      margin-bottom: 30px;

      font-size: 72px !important;
    }

    p {
      font-size: 20px !important;
    }
  }

  .mouse {
    position: absolute;
    bottom: 54px;
  }
}

.skills {
  ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
    columns: 2;

    @include media($until: sm) {
      columns: 1;
    }

    @include media($until: md) {
      margin-bottom: 0;
    }

    li {
      padding-left: 20px;
      margin-bottom: 20px;

      position: relative;

      line-height: 1.5;
      font-family: $font-lato;
      font-size: 16px;
      color: $color-default;

      &:before {
        @extend .list-bullet;

        top: 8px;
        left: -3.5px;
      }
    }
  }
}

.experience {
  &__item-wrapper {
    display: flex;

    @include media($until: lg) {
      flex-direction: column;
    }
  }

  &__item-column {
    width: 50%;

    @include media($until: lg) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .title {
      margin: 0 0 40px;

      line-height: 1.5;
      text-transform: uppercase;
      font-family: $font-montserrat;
      font-weight: 700;
      font-size: 18px;
      color: $color-light;
    }
  }

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;

    position: relative;

    &:before {
      @extend .list-bullet;

      top: 4px;
      left: -3.5px;

      z-index: 1;
    }

    &:after {
      content: '';

      width: 1px;
      height: calc(100% + 40px);

      position: absolute;
      top: 4px;
      left: 0;

      background-color: $bg-border;
    }
  }

  &__item-title {
    margin: 20px 0;

    line-height: 1.5;
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 18px;
    color: $color-light;
  }

  &__item-subtitle {
    font-family: $font-lato;
    font-size: 14px;
    color: $color-default;
  }

  &__item-content {
    line-height: 1.5;
    font-family: $font-lato;
    font-size: 16px;
    color: $color-default;
  }
}

.contacts {
  &__item-wrapper {
    display: flex;

    @include media($until: md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($until: md) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    a {
      @extend .contacts__item;

      width: auto;

      text-decoration: none;

      span {
        transition: $base-transition;
      }

      &:hover {
        span {
          color: $color-secondary !important;
        }
      }

      img {
        width: 50px;
        height: 50px;
      }

      span {
        color: red;

        &:first-of-type {
          margin: 20px 0;

          line-height: 1.5;
          font-family: $font-montserrat;
          font-weight: 700;
          font-size: 18px;
          color: $color-light;
        }

        &:last-of-type {
          font-family: $font-lato;
          font-size: 14px;
          color: $color-default;
        }
      }
    }
  }
}