section#intro.intro
  .intro__content
    h2 Hello!
    p
      | I&apos;m Hlib Bihma!
      br
      br
      | Highly skilled and motivated Front-End Developer with experience
      | in developing and maintaining websites and web applications.
      br
      br
      | Passionate about creating user-friendly and efficient websites and
      | web apps with perfect UI that provide exceptional user
      | experiences.
  a.mouse.scrollTo(href='#skills')