section#skills.skills
  h2 Skills
  ul
    li HTML (Pug)
    li CSS (Preprocessors)
    li JavaScript / TypeScript
    li Flexbox
    li BEM
    li Pixel perfect layout
    li Adaptive layout
    li Cross-browser layout
    li ReactJS (Redux)
    li Rest APIs
    li Had experience with GraphQL
    li Had experience with NextJS
    li Had experience with Angular 2
    li Had experience with Vue 3 + Vuetify 3
    li Bootstrap, Material UI, Semantic UI, Ant Design
    li Git
    li Jira, Redmine
    li Sketch, Zeplin, InVision, Figma